* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

@media screen and (max-width: 1250px) {
  .chin_1,
  .chin_2,
  .chin2_topbox {
    display: none;
  }
  .pad_chin_1,
  .pad_chin_2,
  .pad_chin2_topbox {
    display: block;
  }

  .pad_chin_1 {
    width: 1024px;
    height: 887px;
    position: relative;
    margin: auto;
  }
  .pad_vip {
    width: 600px;
    height: 100px;
    border-radius: 0.4rem;
    background-image: url(../img/baneer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 360px;
    position: absolute;
    z-index: 999;
    opacity: 0.8;
  }
  .pad_ticket {
    width: 658px;
    height: 666px;
    border-radius: 0.4rem;
    background-image: url(../img/107-官網票價.jpg);
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 205px;
    opacity: 0.8;
    top: 80px;
    margin-bottom: 50px;
  }
  /* --------------------facebook--------------------------- */
  .pad_facebook {
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background-image: url(../img/facebook-icon.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 480px;
    right: 30px;
    z-index: 999;
  }
  .pad_halalogo {
    width: 70px;
    height: 70px;
    border-radius: 999em;
    background-image: url(../img/halalogo-04.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    right: 30px;
    top: 580px;
    z-index: 999;
  }
  /* ------------------------------------------------------------- */
  /* ------------------------- 場次專區 -------------------------- */
  /* ------------------------------------------------------------- */
  .pad_chin2_topbox {
    width: 600px;
    margin: auto;
    display: flex;
  }
  .pad_chin2_text {
    width: 200px;
    height: 30px;
    font-family: "微軟正黑體";
    font-size: 16pt;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 8px 8px;
  }
  .pad_chin_2 {
    width: 1140px;
    height: 1127px;
    margin: auto;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .pad_movie {
    width: calc(32% - 7px);
    height: 242.3px;
    background-color: rgba(32, 128, 128, 0.5);
    border: 3px ridge rgba(71, 71, 71, 0.842);
    border-radius: 4px;
    margin: 0px 7px 5px 0px;
    float: left;
  }
  .pad_movie_all1 {
    width: calc(94% - 205px);
  }
  .pad_movie_all2 {
    width: calc(94% - 205px);
  }
  .pad_movietxtcolor {
    background-color: #f54b17;
  }
  /* ------------------------------------------------------------- */
  /* ------------------------- 活動專區 -------------------------- */
  /* ------------------------------------------------------------- */
  .introduction {
    margin-left: 285px;
  }
  #April {
    width: 65%;
    height: 270px;
    /* background-color: blueviolet; */
  }
  #May {
    width: 65%;
    height: 270px;
    /* background-color: blueviolet; */
  }
  #June {
    width: 65%;
    height: 270px;
    /* background-color: blueviolet; */
  }
}

@media screen and (max-width: 1024px) {
  .pad_menu {
    width: 185px;
  }
  .link_all {
    width: 100px;
    margin-left: 60px;
    margin-top: 48px;
  }
  .title_left {
    margin-left: 15px;
  }
  .title {
    margin-left: 10px;
  }
  .pad_chin_2 {
    width: 940px;
    height: 927px;
    margin: auto;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .pad_movie {
    width: calc(25% - 7px);
    height: 243.4px;
    background-color: rgba(32, 128, 128, 0.5);
    border: 3px ridge rgba(71, 71, 71, 0.842);
    border-radius: 4px;
    margin: 0px 7px 5px 0px;
    float: left;
  }
  .pad_movie_all1 {
    width: calc(90% - 85px);
  }
  .pad_movie_all2 {
    width: calc(90% - 85px);
  }
  .movie_time2 {
    font-size: 9pt;
  }
  .chin_3 {
    height: 760px;
  }
  .chin3_bg {
    width: 900px;
    height: 250px;
    float: right;
    margin-right: 150px;
  }
  .chin3_ad {
    width: 900px;
    height: 560px;
    background-position: bottom;
    top: 50px;
    right: 150px;
  }
  .chin3_txt {
    right: 140px;
  }
  .chin_5 {
    height: 670px;
  }
  .chin5_right {
    margin-right: 320px;
    margin-top: 80px;
  }
  .chin5_txtbox1 {
    width: 600px;
    height: 302px;
    margin-top: 90px;
    margin-left: 1120px;
  }
  .chin5_txt {
    font-size: 16pt;
    text-indent: 80px;
    line-height: 33px;
  }

  .chin5_txtbox {
    width: 480px;
    height: 270px;
    right: 350px;
    top: 280px;
    z-index: -1;
  }
  .chin5_title {
    font-size: 16pt;
  }
  .chin5_text {
    font-size: 10pt;
    line-height: 16px;
  }

  .introduction {
    margin-left: 175px;
  }
  .googlemap {
    left: 205px;
    top: 125px;
  }
  .chin6_bus {
    right: 575px;
    top: 550px;
  }
}

@media screen and (max-width: 990px) {
  .chin_1,
  .pad_chin_1,
  .pad_chin_2,
  .pad_chin2_topbox,
  .chin_3,
  .chin_2,
  .chin2_topbox,
  .chin_4,
  .chin_5,
  .chin_6 {
    display: none;
  }
  .m_chin1,
  .m_chin2,
  .m_chin3,
  .m_chin0,
  .m_chin4,
  .m_chin5,
  .m_chin6,
  .m_chin7 {
    display: block;
  }
  .chinLOGO {
    width: 200px;
    margin: auto;
    
  }
  .m_chinLOGO{
    font-family: '微軟正黑體';
    display: block;
    font-size: 26pt;
    line-height: -20px;
    color: blueviolet;
    text-align: center;
    margin-top: -8px;
  }
  .m_chin0 {
    width: 100%;
  }
  .ticket {
    width: 75%;
    margin: auto;
    /* background-position: center; */
    top: 230px;
    left: 95px;
    z-index: -2;
  }
  .m_chin1 {
    width: 100%;
    height: 90px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.267);
  }
  .m_navbar {
    width: 80%;
    height: 90%;
    display: flex;
    margin: auto;
    padding-top: 1px;
  }
  .m_menu {
    width: 8%;
    height: 80%;
    position: relative;
    border-radius: 3px;
    /* box-shadow: 0px 0px 2px 2px rgba(102, 102, 102, 0.192); */
    /* background-color: rgba(255, 255, 255, 0.068); */
  }
  .line {
    width: 90%;
    margin-left: 3px;
    position: absolute;
    border-radius: 2px;
    border: 3px solid rgb(211, 156, 216);
    box-shadow: 0px 0px 1px 1px rgba(56, 53, 53, 0.226);
  }
  #line1 {
    top: 0%;
  }
  #line2 {
    top: 50%;
  }
  #line3 {
    top: calc(100% - 4px);
  }

  @keyframes line1_ani {
    0% {
      top: 0%;
    }
    70% {
      top: calc(50% - 2px);
      transform: rotate(0deg) scale(1, 1);
    }
    100% {
      top: 50%;
      transform: rotate(45deg) scale(1.2, 1.3);
    }
  }

  @keyframes line2_ani {
    70% {
      top: 50%;
      opacity: 1;
    }
    100% {
      top: 50%;
      opacity: 0;
    }
  }

  @keyframes line3_ani {
    0% {
      top: calc(100% - 4px);
    }
    70% {
      top: calc(50% - 2px);
      transform: rotate(0deg) scale(1, 1);
    }
    100% {
      top: 50%;
      transform: rotate(-45deg) scale(1.2, 1.3);
    }
  }
  .line1_ani {
    animation: line1_ani 0.3s;
    animation-fill-mode: forwards;
  }
  .line2_ani {
    animation: line2_ani 0.3s;
    animation-fill-mode: forwards;
  }
  .line3_ani {
    animation: line3_ani 0.3s;
    animation-fill-mode: forwards;
  }
  /*------------------------------------------------*/
  .m_menu_link {
    position: absolute;
    top: 150%;
    background-color: #f54b17a9;
    border-radius: 3px;
    display: none;
  }
  .m_link_all {
    display: flex;
  }
  .m_link {
    width: 130px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 48px;
  }
  .m_acolor {
    font-family: "微軟正黑體";
    color: rgba(255, 255, 255, 0.541);
    font-size: 16pt;
    text-shadow: 1.5px 1.5px #333;
    font-weight: 900;
  }

  .m_menu_link_block {
    display: block;
  }
  .m_menu_link_none {
    display: none;
  }
  /*-------------------------------------------------*/
  .m_chin2 {
    width: 80%;
    height: 120px;
    margin: auto;
  }
  .m_chin2_vip {
    width: 95%;
    height: 100%;
    margin: auto;
    border-radius: 0.4rem;
    background-image: url(../img/baneer.jpg);
    background-repeat: no-repeat;
  }
  /********************************/
  .m_chin3 {
    width: 80%;
    /* height: 827px; */
    margin: auto;
    padding: 5px;
  }
  .m_chin3_topbox {
    width: 78%;
    padding: 3px 5px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    background-color: #666;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .chin3_text {
    height: 30px;
    font-family: "微軟正黑體";
    font-size: 16pt;
    font-weight: 300;
    text-align: center;
    border-radius: 2px;
    margin: 0px 5px;
  }
  /*******************************************************/
  .m_movie {
    /*方格設定*/
    width: calc(100% / 4 - 3px);
    height: 242.2px;
    background-color: rgba(32, 128, 128, 0.5);
    border: 3px ridge rgba(71, 71, 71, 0.842);
    border-radius: 4px;
    margin: 0px 3px 5px 0px;
    float: left;
    text-align: center;
  }
  .m_movie_all1 {
    /*電影第一頁面*/
    width: 100%;
  }
  .m_movie_all2 {
    /*電影第二頁面*/
    width: 100%;
  }
  .Grading_all {
    /*分級圖標設定*/
    width: 20px;
    height: 20px;
    background-size: contain;
    float: left;
    margin: 3px 5px 3px 3px;
  }
  .text {
    /*電影標題設定*/
    width: calc(100% - 20px - 15px);
    float: left;
    text-indent: 2px;
    /* text-align: center; */
    color: white;
    margin: auto;
    font-size: 10pt;
  }
  .movie_time {
    font-family: "微軟正黑體";
    font-size: 8pt;
    font-weight: 900;
    color: white;
    line-height: 12pt;
    text-align: center;
    margin: auto;
  }
  .movie_time2 {
    font-size: 7pt;
    color: white;
    text-align: center;
  }
  .m_movie_block {
    display: block;
  }
  .m_movie_none {
    display: none;
  }

  /************************m_chin4**********************************/
  .m_chin4 {
    width: 80%;
    margin: auto;
  }
  .m_chin4_ad {
    width: 100%;
    height: 560px;
    background-image: url(../img/visacard-05.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 8px;
    opacity: 0.8;
  }
  /************************m_chin5**********************************/
  .m_chin5 {
    width: 80%;
    margin: auto;
  }
  .introduction {
    box-shadow: 5px 3px 8px 5px black;
    margin-bottom: 1300px;
  }
  .swiper-slide {
    margin-bottom: 30px;
  }
  #April {
    width: 100%;
    height: 230px;
    margin: 15px auto;
  }
  #May {
    width: 100%;
    height: 230px;
    margin: 15px auto;
  }
  #June {
    width: 100%;
    height: 230px;
    margin: 15px auto;
  }
  .month {
    width: 100px;
    height: 30px;
    font-family: "微軟正黑體";
    font-size: 16pt;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 0px 8px;
  }
  /************************m_chin6**********************************/

  .m_chin6 {
    width: 800px;
    margin: auto;
    position: relative;
  }
  .m_chin6_txtbox1 {
    width: 700px;
    height: 502px;
    border-radius: 2px;
    background-color: rgb(255, 29, 37, 0.58);
    position: absolute;
  }
  .m_chin6_txtbox {
    width: 580px;
    height: 270px;
    border-radius: 2px;
    background-color: rgba(153, 153, 153, 0.822);
    position: absolute;
    right: 0px;
    top: 230px;
  }

  .m_chin7 {
    width: 800px;
    margin: auto;
    position: relative;
    /* background-color: rgb(0, 4, 255); */
  }
  .googlemap {
    width: 350px;
    height: 370px;

    left: 15px;
    top: 0px;
  }
  .m_chin7_bus {
    width: 350px;
    height: 370px;
    background-color: rgba(230, 136, 136, 0.788);
    position: absolute;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
    top: 380px;
    left: 250px;
  }
}
@media screen and (max-width: 768px) {
  .chin_1,
  .pad_chin_1,
  .pad_chin_2,
  .pad_chin2_topbox,
  .chin_3,
  .chin_2,
  .chin2_topbox,
  .chin_4,
  .chin_5,
  .chin_6 {
    display: none;
  }
  .m_chin1,
  .m_chin2,
  .m_chin3,
  .m_chin0,
  .m_chin4,
  .m_chin5,
  .m_chin6,
  .m_chin7 {
    display: block;
  }
  
  .m_chin0 {
    width: 100%;
  }
  .ticket {
    width: 75%;
    margin: auto;
    background-size: contain;
    position: static;
  }
  .m_chin1 {
    width: 100%;
    height: 50px;
    padding-top: 3px;
    background-color: rgba(0, 0, 0, 0.267);
  }
  .m_navbar {
    width: 80%;
    height: 90%;
    display: flex;
    margin: auto;
    padding-top: 5px;
  }
  .m_menu {
    width: 45px;
    height: 90%;
    position: relative;
    border-radius: 3px;
    z-index: 999;
    /* box-shadow: 0px 0px 2px 2px rgba(102, 102, 102, 0.192); */
    /* background-color: rgba(255, 255, 255, 0.068); */
  }
  .line {
    width: 100%;
    margin-left: 3px;
    position: absolute;
    border-radius: 2px;
    border: 2px solid rgb(211, 156, 216);
    box-shadow: 0px 0px 1px 1px rgba(56, 53, 53, 0.226);
  }
  #line1 {
    top: 0%;
  }
  #line2 {
    top: 45%;
  }
  #line3 {
    top: calc(100% - 4px);
  }

  @keyframes line1_ani {
    0% {
      top: 0%;
    }
    70% {
      top: calc(50% - 2px);
      transform: rotate(0deg) scale(1, 1);
    }
    100% {
      top: 50%;
      transform: rotate(45deg) scale(1.2, 1.3);
    }
  }

  @keyframes line2_ani {
    70% {
      top: 50%;
      opacity: 1;
    }
    100% {
      top: 50%;
      opacity: 0;
    }
  }

  @keyframes line3_ani {
    0% {
      top: calc(100% - 4px);
    }
    70% {
      top: calc(50% - 2px);
      transform: rotate(0deg) scale(1, 1);
    }
    100% {
      top: 50%;
      transform: rotate(-45deg) scale(1.2, 1.3);
    }
  }
  .line1_ani {
    animation: line1_ani 0.3s;
    animation-fill-mode: forwards;
  }
  .line2_ani {
    animation: line2_ani 0.3s;
    animation-fill-mode: forwards;
  }
  .line3_ani {
    animation: line3_ani 0.3s;
    animation-fill-mode: forwards;
  }
  /*------------------------------------------------*/
  .m_menu_link {
    position: absolute;
    top: 150%;
    background-color: #f54b17a9;
    border-radius: 3px;
    display: none;
    z-index: 999;
  }
  .m_link_all {
    display: flex;
  }
  .m_link {
    width: 70px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 25px;
  }
  .m_acolor {
    font-family: "微軟正黑體";
    color: rgba(255, 255, 255, 0.541);
    font-size: 10pt;
    text-shadow: 1.5px 1.5px #333;
    font-weight: 900;
  }

  .m_menu_link_block {
    display: block;
  }
  .m_menu_link_none {
    display: none;
  }
  /*-------------------------------------------------*/
  .m_chin2 {
    width: 100%;
    height: 125px;
    margin: auto;
  }
  .m_chin2_vip {
    width: 100%;
    margin: auto;
    border-radius: 0.4rem;
    background-image: url(../img/baneer.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;  
  }
  /********************************/
  .m_chin3 {
    width: 80%;
    /* height: 827px; */
    margin: auto;
    padding: 5px;
  }
  .m_chin3_topbox {
    width: 85%;
    padding: 3px 5px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    background-color: #666;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .chin3_text {
    height: 20px;
    font-family: "微軟正黑體";
    font-size: 9pt;
    font-weight: 300;
    text-align: center;
    border-radius: 2px;
    margin: 0px 10px;
  }
  /*******************************************************/
  .movie {
    /*方格設定*/
    width: calc(100% / 2 - 3px);
    height: 242.5px;
    background-color: rgba(32, 128, 128, 0.5);
    border: 3px ridge rgba(71, 71, 71, 0.842);
    border-radius: 4px;
    margin: 0px 3px 5px 0px;
    float: left;
    text-align: center;
  }
  .m_movie_all1 {
    /*電影第一頁面*/
    width: 100%;
  }
  .m_movie_all2 {
    /*電影第二頁面*/
    width: 100%;
  }
  .Grading_all {
    /*分級圖標設定*/
    width: 20px;
    height: 20px;
    background-size: contain;
    float: left;
    margin: 3px 0px 3px 3px;
  }
  .text {
    /*電影標題設定*/
    width: calc(100% - 20px - 3px);
    float: left;
    /* text-indent: 2px; */
    text-align: center;
    color: white;
    margin: auto;
    font-size: 2pt;
  }
  .img_all{/*電影post設定*/
    width: 108px;
    height: 158px;
    background-size: cover;
}
  .movie_time {
    font-family: "微軟正黑體";
    font-size: 8pt;
    font-weight: 900;
    color: white;
    line-height: 12pt;
    text-align: center;
    margin: auto;
  }
  .movie_time2 {
    font-size: 7pt;
    color: white;
    text-align: center;
  }
  .m_movie_block {
    display: block;
  }
  .m_movie_none {
    display: none;
  }

  /************************m_chin4**********************************/
  .m_chin4 {
    width: 100%;
    
  }
  .m_chin4_ad {
    width: 100%;
    margin: auto;
    background-image: url(../img/visacard-05.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    border-radius: 8px;
    opacity: 0.8;
  }
  /************************m_chin5**********************************/
  .m_chin5 {
    width: 80%;
    margin: auto;
  }
  .introduction {
    box-shadow: 5px 3px 8px 5px black;
    margin-bottom: 1300px;
  }
  .swiper-slide {
    margin-bottom: 30px;
  }
  .int_img{
    width: 90px;
    height: 120px;
    margin: 0;
  }
  .swiper-slide{
    width: 150px;
  }
  #April {
    width: 100%;
    height: 200px;
    margin: 15px auto;
  }
  #May {
    width: 100%;
    height: 200px;
    margin: 15px auto;
  }
  #June {
    width: 100%;
    height: 200px;
    margin: 15px auto;
  }
  .month {
    width: 100px;
    height: 30px;
    font-family: "微軟正黑體";
    font-size: 16pt;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 0px 8px;
  }
  /************************m_chin6**********************************/

  .m_chin6 {
    width: 800px;
    margin: auto;
    position: relative;
  }
  .m_chin6_txtbox1 {
    width: 700px;
    height: 502px;
    border-radius: 2px;
    background-color: rgb(255, 29, 37, 0.58);
    position: absolute;
  }
  .m_chin6_txtbox {
    width: 580px;
    height: 270px;
    border-radius: 2px;
    background-color: rgba(153, 153, 153, 0.822);
    position: absolute;
    right: 0px;
    top: 230px;
  }

  .m_chin7 {
    width: 800px;
    margin: auto;
    position: relative;
    /* background-color: rgb(0, 4, 255); */
  }
  .googlemap {
    width: 350px;
    height: 300px;
    left: 15px;
    top: 0px;
  }
  .m_chin7_bus {
    width: 350px;
    height: 300px;
    background-color: rgba(230, 136, 136, 0.788);
    position: absolute;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
    top: 350px;
    left: 255px;
  }
}
@media screen and (max-width: 415px) {
  .chin_1,
  .pad_chin_1,
  .pad_chin_2,
  .pad_chin2_topbox,
  .chin_3,
  .chin_2,
  .chin2_topbox,
  .chin_4,
  .chin_5,
  .chin_6 {
    display: none;
  }
  .m_chin1,
  .m_chin2,
  .m_chin3,
  .m_chin0,
  .m_chin4,
  .m_chin5,
  .m_chin6,
  .m_chin7 {
    display: block;
  }
 
  .m_chin0 {
    width:100%;
  }
  .ticket {
    width: 85%;
    margin: auto;
    position: static;
    background-size: contain; 
  }
  .m_chin1 {
    width: 100%;
    height: 50px;
    padding-top: 3px;
    background-color: rgba(0, 0, 0, 0.267);
    position: fixed;
  }
  .m_navbar {
    width: 80%;
    height: 90%;
    display: flex;
    margin: auto;
    padding-top: 5px;
  }
  .m_menu {
    width: 45px;
    height: 90%;
    position: relative;
    border-radius: 3px;
    z-index: 999;
    /* box-shadow: 0px 0px 2px 2px rgba(102, 102, 102, 0.192); */
    /* background-color: rgba(255, 255, 255, 0.068); */
  }
  .line {
    width: 100%;
    margin-left: 3px;
    position: absolute;
    border-radius: 2px;
    border: 2px solid rgb(211, 156, 216);
    box-shadow: 0px 0px 1px 1px rgba(56, 53, 53, 0.226);
  }
  #line1 {
    top: 0%;
  }
  #line2 {
    top: 45%;
  }
  #line3 {
    top: calc(100% - 4px);
  }

  @keyframes line1_ani {
    0% {
      top: 0%;
    }
    70% {
      top: calc(50% - 2px);
      transform: rotate(0deg) scale(1, 1);
    }
    100% {
      top: 50%;
      transform: rotate(45deg) scale(1.2, 1.3);
    }
  }

  @keyframes line2_ani {
    70% {
      top: 50%;
      opacity: 1;
    }
    100% {
      top: 50%;
      opacity: 0;
    }
  }

  @keyframes line3_ani {
    0% {
      top: calc(100% - 4px);
    }
    70% {
      top: calc(50% - 2px);
      transform: rotate(0deg) scale(1, 1);
    }
    100% {
      top: 50%;
      transform: rotate(-45deg) scale(1.2, 1.3);
    }
  }
  .line1_ani {
    animation: line1_ani 0.3s;
    animation-fill-mode: forwards;
  }
  .line2_ani {
    animation: line2_ani 0.3s;
    animation-fill-mode: forwards;
  }
  .line3_ani {
    animation: line3_ani 0.3s;
    animation-fill-mode: forwards;
  }
  /*------------------------------------------------*/
  .m_menu_link {
    position: absolute;
    top: 150%;
    background-color: #f54b17a9;
    border-radius: 3px;
    display: none;
    z-index: 999;
  }
  .m_link_all {
    display: flex;
  }
  .m_link {
    width: 70px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 25px;
  }
  .m_acolor {
    font-family: "微軟正黑體";
    color: rgba(255, 255, 255, 0.541);
    font-size: 10pt;
    text-shadow: 1.5px 1.5px #333;
    font-weight: 900;
  }

  .m_menu_link_block {
    display: block;
  }
  .m_menu_link_none {
    display: none;
  }
  /*-------------------------------------------------*/
  .m_hoot{/*空白下推*/
    width: 100%;
    height: 51px;
  }
  .m_chin2 {
    width: 100%;
    height: 75px;
    margin: auto;
    
  }
  .m_chin2_vip {
    width: 100%;
    margin: auto;
    border-radius: 0.4rem;
    background-image: url(../img/baneer.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
  
  }
  /********************************/
  .m_chin3 {
    width: 85%;
    /* height: 827px; */
    margin: auto;
    padding: 5px;
  }
  .m_chin3_topbox {
    width: 100%;
    padding: 3px 5px;
    height: 25px;
    border-radius: 4px;
    display: flex;
    background-color: #666;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .chin3_text {
    height: 20px;
    font-family: "微軟正黑體";
    font-size: 9pt;
    font-weight: 300;
    text-align: center;
    border-radius: 2px;
    margin: 0px 10px;
  }
  /*******************************************************/
  .movie {
    /*方格設定*/
    width: calc(100% / 2 - 3px);
    height: 242.5px;
    background-color: rgba(32, 128, 128, 0.5);
    border: 3px ridge rgba(71, 71, 71, 0.842);
    border-radius: 4px;
    margin: 0px 3px 5px 0px;
    float: left;
    text-align: center;
  }
  .m_movie_all1 {
    /*電影第一頁面*/
    width: 100%;
  }
  .m_movie_all2 {
    /*電影第二頁面*/
    width: 100%;
  }
  .Grading_all {
    /*分級圖標設定*/
    width: 20px;
    height: 20px;
    background-size: contain;
    float: left;
    margin: 3px 0px 3px 3px;
  }
  .text {
    /*電影標題設定*/
    width: calc(100% - 20px - 3px);
    float: left;
    /* text-indent: 2px; */
    text-align: center;
    color: white;
    margin: auto;
    font-size: 2pt;
  }
  .img_all{/*電影post設定*/
    width: 108px;
    height: 158px;
    background-size: cover;
}
  .movie_time {
    font-family: "微軟正黑體";
    font-size: 8pt;
    font-weight: 900;
    color: white;
    line-height: 12pt;
    text-align: center;
    margin: auto;
  }
  .movie_time2 {
    font-size: 7pt;
    color: white;
    text-align: center;
  }
  .m_movie_block {
    display: block;
  }
  .m_movie_none {
    display: none;
  }

  /************************m_chin4**********************************/
  .m_chin4 {
    width: 80%;
    margin: auto;
  }
  .m_chin4_ad {
    width: 100%;
    height: 430px;
    background-image: url(../img/visacard-05.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    border-radius: 8px;
    opacity: 0.8;
  }
  /************************m_chin5**********************************/
  .m_chin5 {
    width: 80%;
    margin: auto;
  }
  .introduction {
    box-shadow: 5px 3px 8px 5px black;
    margin-bottom: 1300px;
  }
  .swiper-slide {
    margin-bottom: 30px;
  }
  .int_img{
    width: 90px;
    height: 120px;
    margin: 0;
  }
  .swiper-slide{
    width: 150px;
  }
  #April {
    width: 100%;
    height: 200px;
    margin: 15px auto;
  }
  #May {
    width: 100%;
    height: 200px;
    margin: 15px auto;
  }
  #June {
    width: 100%;
    height: 200px;
    margin: 15px auto;
  }
  .month {
    width: 100px;
    height: 30px;
    font-family: "微軟正黑體";
    font-size: 16pt;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 0px 8px;
  }
  /************************m_chin6**********************************/

  .m_chin6 {
    width: 100%;
    margin: auto;
    position: relative;
  }
  .m_chin6_txtbox1 {
    width: 100%;
    height: 502px;
    border-radius: 2px;
    background-color: rgba(255, 29, 37, 0.589);
    position: absolute;
  }
  .m_chin6_txtbox {
    width: 380px;
    height: 270px;
    border-radius: 2px;
    background-color: rgba(153, 153, 153, 0.822);
    position: absolute;
    right: 20px;
    top: 330px;
  }

  .m_chin7 {
    width: 100%;
    margin: auto;
    position: relative;
    /* background-color: rgb(0, 4, 255); */
  }
  .googlemap {
    width: 350px;
    height: 300px;
    left: 15px;
    top: 0px;
  }
  .m_chin7_bus {
    width: 350px;
    height: 300px;
    background-color: rgba(230, 136, 136, 0.788);
    position: absolute;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
    top: 350px;
    left: 15px;
  }
}
