*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    margin: 0;
    padding: 0;
    /* height: 5622px; */
    /* background-color: #2c3b8c; */
    background-image: url(../img/star.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}
/* ---------------------^環境設定^------------------------------ */
.pad_chin_1,
.pad_chin_2,
.pad_chin2_topbox,
.m_chin1,.m_chin2,.m_chin3,
.m_chin0,.m_chin4,.m_chin5,
.m_chin6,.m_chin7
{
   display: none;
}
.chin_1,.chin2_topbox{
    display: block;
 }
.chin_1{
    width: 1140px;
    height: 887px;
    position: relative;
    margin: auto;
}
.vip{
    width: 742px;
    height: 150px;
    border-radius:0.4rem; 
    background-image: url(../img/baneer.jpg);
    background-repeat: no-repeat;    
    left: 360px;
    position: absolute;
    z-index: 999;
    opacity: 0.8;
}
.ticket{
    width: 658px;
    height: 666px;
    border-radius:0.4rem;
    background-image: url(../img/107-官網票價.jpg);
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 205px;
    opacity: 0.8;
    top: 120px;
    margin-bottom: 50px;
}
/* --------------------------------------------------- */
ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
p{
    margin: 0;
    padding: 0;
    display: block;
}
a{  
    text-decoration: none;
}
br{
    margin: 0;
    padding: 0;
}
/* --------------------menu--------------------------- */
.menu,.pad_menu{
    width: 205px;
    border-radius:0.4rem;
    background-color: rgba(209, 250, 133, 0.192);
    position: fixed;
    top: 170px;
    z-index: 999;
}
.title_left{
    width: 30px;
    font-family:"微軟正黑體" ;
    font-size: 40pt;
    margin-top: 30px;
    margin-left:25px;    
    float: left; 
}
.menu_top{
    display: flex;
}
.top{
    width: 180px;
    font-family:"微軟正黑體" ;
    font-size: 28pt;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-align: center;
    /* margin-left:20px; */
    overflow:hidden;
    /* text-overflow: clip; */
    white-space:nowrap;
    display: none;
}
.title{
    font-family:"微軟正黑體" ;
    font-size: 28pt;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left:20px;
    text-align: center;
    border-radius:2px;
    overflow:hidden;
    text-overflow: clip;
    white-space:nowrap;
    display:  block;
}
.link_all{
    width: 100px;
    margin-left: 80px;
    margin-top: 48px;
}
.link{
    width: 120px;
    height: 30px;
    font-weight: 900;
    text-align: center;
    display: block;
    margin: 10px 10px 28px 10px;
    position: relative;
}
.acolor{
    font-family: "微軟正黑體" ;
    color:rgba(247, 112, 63, 0.37);
    font-size: 14pt;
    text-shadow: 1px 1px #333;
    display: inline-block;
}
.bg{   
    height: 30px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: -1;
    border-radius: 2px; 
}
.link:hover .bg{
    animation: bg_ani 300ms;
    animation-fill-mode: forwards;
}
.link:hover a{
    font-size: 18pt;
}
.link:hover .acolor{
    margin-left: 20px;
    margin-top: -5px;
}
.menu_top:hover .title{
    
    animation: title_ani 500ms;
    animation-fill-mode: forwards;
}
.menu_top:hover #title_top{
    display: block;
}

@keyframes bg_ani{
    0%{
        top: -4px;
        width: 0px;
        background-color: white;
    }
    100%{
        top: -4px;
        width: 110px;
        background-color: white;
    }
}


@keyframes title_ani{
    from{
        width: 90%;
    }
    to{
        width: 0%;
    }
}
/* --------------------facebook--------------------------- */
.facebook{
    width: 217px;
    height: 80px;
    border-radius:0.4rem;
    background-image: url(../img/Facebook_Logo.png);
    background-position: center;
    background-size: contain;
    position: fixed;
    right: 160px;
    top: 487px;
    z-index: 999;
}
/* --------------------halalogo--------------------------- */
.halalogo{
    width: 217px;
    height: 80px;
    border-radius:0.4rem;
    background-image: url(../img/halalogo-04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    right: 160px;
    top: 587px;
    z-index: 999;
}
/* ------------------------------------------------------------- */
/* ------------------------- 場次專區 -------------------------- */
/* ------------------------------------------------------------- */
.chin_2{
  width: 1140px;
  height: 827px;
  margin: auto;
  display: flex;
  /* flex-direction:row; */
  align-content:flex-start;
  flex-wrap:wrap;
  justify-content: flex-end;
}
.chin2_topbox{
    width: 700px;
    margin: auto;
    display: flex;
}
.chin2_text{
    width: 300px;
    height: 30px;
    font-family: '微軟正黑體';
    font-size: 16pt;
    font-weight:900; 
    display:inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 8px 8px;
}
.movie{
    width: calc(25% - 7px);
    height: 242.2px;
    background-color: rgba(32, 128, 128, 0.5);
    border: 3px ridge rgba(71, 71, 71, 0.842);
    border-radius: 4px;
    margin: 0px 7px 5px 0px;
    float: left;  
}
.movie_all1{
    width: calc(100% - 205px);
    
}
.movie_all2{
    width: calc(100% - 205px);
}
.movie_text{
    width: 100%;
    height: 37.5px;
    background-color: rgba(24, 23, 23, 0.637);
    border-radius: 1.5px;
}
.text{
    width: calc(100% - 24px - 15px);
    float: left;
    text-indent:2px;
    text-align: center;
    color: white;
    margin: auto;
}
.Grading_all{
    width: 24px;
    height: 24px;
    background-size: contain;
    float: left;
    margin: 5px 10px 5px 5px;
}
.movebox_1{
    width: 100%;
    height: 160px;
}
.movie_img{
    float: left;
}
.img_all{
    width: 108px;
    height: 160px;
    background-size: cover;
}
.movie_time{
    font-family: '微軟正黑體';
    font-size: 10pt;
    font-weight: 900;
    color: white;
    line-height: 12pt;
    text-align: center;
    margin: auto;
}

.movebox_2{
    width: 100%;
    height: 40px;
}
.leftdown{
    float: left;
}
.movie_living{
    width: 108px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.movie_int{
    width: 108px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.rightdown{
    float: center;
}

.movie_time2{
    font-family: '微軟正黑體';
    font-size: 11pt;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: auto;
}
.movie_block{
    display: block;
}
.movie_none{
    display: none;
}
.movietxtcolor{
    background-color: #f54b17;
}

/*------------------以上總體設定------------------------------------------ */

#movie_test1{
    font-size: 9pt;    
}
.movie_int{
    background-image: url(../img/mg001.jpg);
}
/*-- 分級ico --*/
.Grading1{
    background-image: url(../img/6plus.png);
}
/*-- 電影海報 --*/
.img1{
    background-image: url(../img/bgc1.jpg);    
}
/*-- 電影廳 --*/
.movie_living1{
    background-image: url(../img/mr01.jpg);
}

/*-- 分級ico --*/
.Grading2-1{
    background-image: url(../img/6plus.png);
}
/*-- 電影海報 --*/
.img2-1{
    background-image: url(../img/bgc1.jpg);    
}
/*-- 電影廳 --*/
.movie_living2-1{
    background-image: url(../img/mr01.jpg);
}

/************二 二 二 二***************/
#movie_test2{
    
    font-size: 9pt;
}
/*-- 分級ico --*/
.Grading2{
    background-image: url(../img/6plus.png);
}
/*-- 電影海報 --*/
.img2{
    background-image: url(../img/bgc1.jpg);    
}
/*-- 電影廳 --*/
.movie_living2{
    background-image: url(../img/mr02.jpg);
}
/*******/
/*-- 分級ico --*/
.Grading2-2{
    background-image: url(../img/0plus.png);
}
/*-- 電影海報 --*/
.img2-2{
    background-image: url(../img/Pikachu.jpg);    
}
/*-- 電影廳 --*/
.movie_living2-2{
    background-image: url(../img/mr02.jpg);
}
/************三 三 三 三***************/

#movie_test3{
    font-size: 9pt;
}
.Grading3{
    background-image: url(../img/15plus.png);
}
.img3{
    background-image: url(../img/Hellboy.jpg);    
}
.movie_living3{
    background-image: url(../img/mr03.jpg);
}

/*******/
.Grading2-3{
    background-image: url(../img/0plus.png);
}
.img2-3{
    background-image: url(../img/Pikachu.jpg);    
}
.movie_living2-3{
    background-image: url(../img/mr03.jpg);
}
/*************四 四 四 四**************/
#movie_test4{
    font-size: 9pt;    
}
.Grading4{
    background-image: url(../img/6plus.png);
}
.img4{
    background-image: url(../img/bgc1.jpg);    
}
.movie_living4{
    background-image: url(../img/mr03.jpg);
}
/******/
.Grading2-4{
    background-image: url(../img/6plus.png);
}
.img2-4{
    background-image: url(../img/bgc1.jpg);    
}
.movie_living2-4{
    background-image: url(../img/mr05.jpg);
}
/*************五 五 五 五**************/
#movie_test5{
    font-size: 9pt;    
}
.Grading5{
    background-image: url(../img/6plus.png);
}
.img5{
    background-image: url(../img/bgc1.jpg);    
}
.movie_living5{
    background-image: url(../img/mr05.jpg);
}
/******/
.Grading2-5{
    background-image: url(../img/0plus.png);
}
.img2-5{
    background-image: url(../img/Missing\ Link.jpg);    
}
.movie_living2-5{
    background-image: url(../img/mr06.jpg);
}
/************六 六 六 六***************/
#movie_test6{
    font-size: 9pt;
}
.Grading6{
    background-image: url(../img/15plus.png);
}
.img6{
    background-image: url(../img/Pet\ Sematary.JPG);    
}
.movie_living6{
    background-image: url(../img/mr06.jpg);
}
/******/
.Grading2-6{
    background-image: url(../img/6plus.png);
}
.img2-6{
    background-image: url(../img/bgc1.jpg);    
}
.movie_living2-6{
    background-image: url(../img/mr06.jpg);
}
/************七 七 七 七***************/
#movie_test7{
    font-size: 9pt;    
}
.Grading7{
    background-image: url(../img/6plus.png);
}
.img7{
    background-image: url(../img/bgc1.jpg);    
}
.movie_living7{
    background-image: url(../img/mr06.jpg);
}
/******/
.Grading2-7{
    background-image: url(../img/6plus.png);
}
.img2-7{
    background-image: url(../img/Hustle.JPG);    
}
.movie_living2-7{
    background-image: url(../img/mr07.jpg);
}
/************八 八 八 八***************/
#movie_test8{

    font-size: 9pt;    
}
.Grading8{
    background-image: url(../img/15plus.png);
}
.img8{
    background-image: url(../img/Llorona.jpg);    
}
.movie_living8{
    background-image: url(../img/mr07.jpg);
}
/******/
.Grading2-8{
    background-image: url(../img/6plus.png);
}
.img2-8{
    background-image: url(../img/Llorona.jpg);    
}
.movie_living2-8{
    background-image: url(../img/mr08.jpg);
}
/************九 九 九 九**************/
#movie_test9{

    font-size: 9pt;
}
.Grading9{
    background-image: url(../img/15plus.png);
}
.img9{
    background-image: url(../img/Pet\ Sematary.JPG);    
}
.movie_living9{
    background-image: url(../img/mr07.jpg);
}
/******/
.Grading2-9{
    background-image: url(../img/0plus.png);
}
.img2-9{
    background-image: url(../img/Missing\ Link.jpg);    
}
.movie_living2-9{
    background-image: url(../img/mr08.jpg);
}
/************十 十 十 十**************/
#movie_test10{

    font-size: 9pt;    
}
.Grading10{
    background-image: url(../img/0plus.png);
}
.img10{
    background-image: url(../img/Missing\ Link.jpg);    
}
.movie_living10{
    background-image: url(../img/mr08.jpg);
}
/******/
.Grading2-10{
    background-image: url(../img/15plus.png);
}
.img2-10{
    background-image: url(../img/Pet\ Sematary.JPG);    
}
.movie_living2-10{
    background-image: url(../img/mr08.jpg);
}
/************拾一 拾一**************/
#movie_test11{

    font-size: 9pt;    
}
.Grading11{
    background-image: url(../img/0plus.png);
}
.img11{
    background-image: url(../img/Missing\ Link.jpg);    
}
.movie_living11{
    background-image: url(../img/mr08.jpg);
}
/******/
.Grading2-11{
    background-image: url(../img/6plus.png);
}
.img2-11{
    background-image: url(../img/bgc1.jpg);    
}
.movie_living2-11{
    background-image: url(../img/mr05.jpg);
}
/************拾二 拾二**************/
 /* #movie_test12{
    font-family: '微軟正黑體';
    font-size: 9pt;    
}
.Grading12{
    background-image: url(../img/6plus.jpg);
}
.img12{
    background-image: url(../img/bgc1.jpg);    
}
.movie_living12{
    background-image: url(../img/mr01.jpg);
} */

/******/

/*
.Grading2-12{
    background-image: url(../img/6plus.png);
}
.img2-12{
    background-image: url(../img/bgc1.jpg);    
}
.movie_living2-12{
    background-image: url(../img/mr05.jpg);
} 
*/
/***************************************/



/* ------------------------------------------------------------- */
/* ------------------------- 活動專區 -------------------------- */
/* ------------------------------------------------------------- */
.chin_3{
    width: 1140px;
    height: 1160px;
    margin: auto;
    /* background-color: aqua; */
    clear: both;
    position: relative;
}
.chin3_txt{
    width: 30px;
    font-family:"微軟正黑體" ;
    font-size: 40pt;
    margin-right: 50px;
    text-shadow: -2px -2px white, 1px 1px #333;
    position: absolute;
    z-index: 5;
    right: 30px;
    top: 20px;
}
.chin3_bg{
    width: 900px;
    height: 250px;
    float: right;
    margin-right: 30px;
    border-radius: 12px;
    background-color: #8c2c44e5;
}
.chin3_ad{
    width: 800px;
    height: 960px;
    background-image: url(../img/visacard-05.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    position: absolute;
    z-index: 3;
    top: 50px;
    right: 80px;
    opacity: 0.8;
}
/* ------------------------------------------------------------- */
/* ------------------------- 電影介紹 -------------------------- */
/* ------------------------------------------------------------- */
.chin_4{
    width: 1140px;
    height: 970px;
    margin: auto;
    /* background-color: rgb(0, 4, 255); */
}
.chin4_left{
    width: 30px;
    font-family:"微軟正黑體" ;
    font-size: 40pt;
    margin-top: 0px;
    margin-left:120px;    
    float: left; 
    text-shadow: -2px -2px white, 1px 1px #333;
}
.introduction{
    margin-left: 205px;
    box-shadow: 5px 3px 8px 5px black;
    margin-bottom: 30px;
}
.month{
    width: 90px;
    height: 30px;
    font-family: '微軟正黑體';
    font-size: 16pt;
    font-weight:900; 
    display:inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 8px 8px;
    /* box-shadow: 2px 0px 2px 8px rgba(0, 0, 0, 0.63)
               ,-2px 0px 2px 8px rgba(0, 0, 0, 0.63); */
}
.swiper-slide{
  margin-bottom: 70px;
}
.int_img{
    text-indent:5px;
    font-size: 12pt;
    float: left;
    width: 108px;
    height: 160px;
    margin-left: 38px;
    background-size: cover;
}
.int_txt{
    float: center;
    font-family: '微軟正黑體';
    font-weight: 900;
    text-align: center; 
    text-shadow:  0.5px 0.5px rgb(255, 255, 255), -1px -1px rgba(236, 87, 87, 0.658);
}
#April{
    width: 70%;
    height: 270px;
    /* background-color: blueviolet; */
}
#May{
    width: 70%;
    height: 270px;
    /* background-color: blueviolet; */
}
#June{
    width: 70%;
    height: 270px;
    /* background-color: blueviolet; */
}
/*--------------------以上 電影介紹 總體設定-----------------------------*/
/* #int_txt1{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_a1{
    background-image: url(../img/Hellboy.jpg);
}
/************二 二 二 二***************/
/* #int_txt2{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_a2{
    background-image: url(../img/Pet\ Sematary.JPG);
}
/************三 三 三 三***************/
/* #int_txt3{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_a3{
    background-image: url(../img/Llorona.jpg);
}
/************四 四 四 四***************/
/* #int_txt4{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_a4{
    background-image: url(../img/bgc1.jpg);
}
/************月 月 月 月***************/
/************五 五 五 五***************/
/************月 月 月 月***************/

/* #int_txtm1{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m1{
    background-image: url(../img/Missing\ Link.jpg);
}
/************二 二 二 二***************/
/* #int_txtm2{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m2{
    background-image: url(../img/Hustle.JPG);
}
/************三 三 三 三***************/
/* #int_txtm3{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m3{
    background-image: url(../img/Pikachu.jpg);
}
/************四 四 四 四***************/
/* #int_txtm4{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m4{
    background-image: url(../img/Parabellum.jpg);
}
/************五 五 五 五***************/
/* #int_txtm5{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m5{
    background-image: url(../img/Dog.jpg);
}
/************六 六 六 六***************/
/* #int_txtm6{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m6{
    background-image: url(../img/Bad\ Boys\ Symphony.jpg);
}
/************七 七 七 七***************/
/* #int_txtm7{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m7{
    background-image: url(../img/UglyDolls.jpg);
}
/************八 八 八 八***************/
/* #int_txtm8{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m8{
    background-image: url(../img/Aladdin.jpg);
}
/************九 九 九 九***************/
/* #int_txtm9{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m9{
    background-image: url(../img/City\ Hunter.jpg);
}
/************十 十 十 十***************/
/* #int_txtm10{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_m10{
    background-image: url(../img/Godzilla2.jpg);
}
/************月 月 月 月***************/
/************六 六 六 六***************/
/************月 月 月 月***************/
/* #int_txtj1{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_j1{
    background-image: url(../img/Dark\ Phoenix.jpg);
}
/************二 二 二 二***************/
/* #int_txtj2{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_j2{
    background-image: url(../img/Pets\ 2.JPG);
}
/************三 三 三 三***************/
/* #int_txtj3{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_j3{
    background-image: url(../img/International.jpg);
}
/************四 四 四 四***************/
/* #int_txtj4{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_j4{
    background-image: url(../img/Rocketman.JPG);
}
/************五 五 五 五***************/
/* #int_txtj5{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_j5{
    background-image: url(../img/Dog.jpg);
}
/************六 六 六 六***************/
/* #int_txtj6{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_j6{
    background-image: url(../img/Anna.jpg);
}
/************七 七 七 七***************/
/* #int_txtj7{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_j7{
    background-image: url(../img/Yesterday.jpg);
}
/************八 八 八 八***************/
/* #int_txtj8{
    text-indent:5px;
    font-size: 12pt;
} */
#int_img_j8{
    background-image: url(../img/Annabelle.jpg);
}



/*--------------------以上 電影介紹 個別設定-----------------------------*/


/* ------------------------------------------------------------- */
/* ------------------------- 關於親親 -------------------------- */
/* ------------------------------------------------------------- */
/* .chin_5{
    width: 1140px;
    height: 970px;
    margin: auto;
    clear: both;
    position: relative;
    background-color: rgb(0, 4, 255);
} */
/* .chin5_box1{
    width: 3240px;
    height: 637px;
    position: absolute;
    z-index: -1;
    right: -1140px;
    background-color: rgba(230, 230, 230, 0.199);
} */

.chin_5{
    width: 100%;
    height: 637px;
    margin-bottom: 363px;
    background-color: rgba(230, 230, 230, 0.199);
    
}
.chin5_box1{
    width: 1140px;
    height: 970px;
    margin: auto;
    position: relative;
}


.chin5_right{
    width: 30px;
    font-family:"微軟正黑體" ;
    font-size: 40pt;
    font-weight: 900;
    position: absolute;
    right: 100px;
    top: 90px;
    color: #333;
    text-shadow:-2px -2px rgb(255, 255, 255);
}
.chin5_txtbox1{
    width: 700px;
    height: 502px;
    border-radius:2px; 
    background-color: rgb(255, 29, 37,0.58);
    position: absolute;
    left: 205px;
    /* margin-top: 90px;
    margin-left: 1166px;*/
} 
.chin5_txt{
    font-family:"微軟正黑體" ;
    font-size: 26pt;
    text-align: left;
    text-indent:80px;
    color: rgb(199, 199, 199);
    text-shadow:1px 1px #333;
    line-height: 43px;
}
.chin5_txtbox{
    width: 580px;
    height: 370px;
    border-radius:2px; 
    background-color: rgba(153, 153, 153, 0.822);
    position: absolute;
    right: 100px;
    top: 450px;
    
}
.chin5_title{
    font-family:"微軟正黑體" ;
    font-size: 20pt;
    color: rgb(255, 255, 255);
    text-shadow:1px 1px #333;
}
.chin5_text{
    font-family:"微軟正黑體" ;
    font-size: 12pt;
    text-align: left;
    color: rgb(102, 98, 98);
    text-shadow:1px 1px #333;
    line-height: 23px;
}
/* ------------------------------------------------------------- */
/* ------------------------- 交通指南 -------------------------- */
/* ------------------------------------------------------------- */
.chin_6{
    width: 1140px;
    height: 970px;
    margin: auto;
    clear: both;
    position: relative;
    /* background-color: rgb(0, 4, 255); */
}
.chin6_left{
    width: 300px;
    font-weight: 900;
    font-family:"微軟正黑體" ;
    text-align: center;
    font-size: 40pt;
    float: left;
    margin-top: 50px;
    margin-left:205px;    
    text-shadow: -1px -1px white, 1px 1px #666;
}
.googlemap {
    width: 350px;
    height: 370px;
    background-color: rgba(230, 136, 136, 0.781);
    position: absolute;
    left: 205px;
    top: 205px;
    border-radius:3px; 
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}
.googlemap_txt,.bus{
    width: 200px;
    height: 30px;
    font-family: '微軟正黑體';
    font-size: 16pt;
    font-weight:900; 
    display:inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 8px 8px;
}
.googlemap_link{
    padding: 10px 0px 0px 10px;
}
.chin6_bus{
    width: 350px;
    height: 370px;
    background-color:  rgba(230, 136, 136, 0.788);
    position: absolute;
    right: 155px;
    top: 50px;
    border-radius:3px; 
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}
.chin6_bus_img{
    padding: 5px 0px 0px 5px;
    background-size:contain;
}