* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
body {
  margin: 0;
  padding: 0;
  background-image: url('../img/star.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
a{
    text-decoration: none;
}

/**-**********chinchin*******************-*/
.chinchin {
  width: 1140px;
  margin: auto;
}
.chin_1 {
  width: 800px;
  height: 750px;
  margin: auto;
  position: relative;
}
.totop{
    width: 80px;
    height: 50px;
    text-align: center;
    font-family: '微軟正黑體';
    font-size: 30px;
    border-radius:5px; 
    background-color: red;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 999;
}
.totop a{
    color:white;
}
/* --------------------facebook--------------------------- */
.facebook{
    width: 150px;
    height: 70px;
    border-radius:0.4rem;
    background-image: url(../img/Facebook_Logo.png);
    background-position: center;
    background-size: contain;
    position: fixed;
    right: 160px;
    top: 487px;
    z-index: 999;
}
/* --------------------halalogo--------------------------- */
.halalogo{
    width: 150px;
    height: 70px;
    border-radius:0.4rem;
    background-image: url(../img/halalogo-04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    right: 160px;
    top: 587px;
    z-index: 999;
}
/**-**********標題含票價******chin_1*************-*/
.vip {
  width: 540px;
  height: 110px;
  border-radius: 5px;
  background-image: url(../img/baneer.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}
.ticket {
  font-family: '微軟正黑體';
  width: calc(100% - 205px);
  background-color: rgba(21, 68, 255, 0.253);
  border-radius: 5px;
  position: absolute;
  top: 120px;
  left: 105px;
}
.ticket_h1 {
  /*電影票價*/
  width: 95%;
  font-size:35px; 
  color: rgba(255, 255, 255, 0.74);
  text-shadow: -1px -1px 8px white, 1px 1px #333;
  text-align: center;
  margin: 15px auto;
  border-bottom: 1.8px solid #666;
}
.ticket_ul1 {
  /*電影票價表單*/
  width: 95%;
  margin: auto;
}
.h2d {
    /*2D個別設定*/
    margin-left: 80px;
    color: rgb(2, 173, 2);
  }
  .h3d {
    /*3D個別設定*/
    margin-left: 30px;
    color: rgb(231, 161, 8);
  }
.ticket_li {
  /*全部li*/
  width: 100%;
  border-bottom: 1.2px solid #666;
  display: flex;
  margin: auto;
}
.diu {
  /*2d+3d文字設定*/
  font-size: 26px;
  font-weight: 900;
}
.diu_li {
  /*票價項目*/
  width: 80px;
  font-size: 20px;
  font-weight: 600;
  color: #ede935;
  
}
.diu_li_m {
  /*票價*/
  width: 70px;
  color: rgba(255, 255, 255, 0.74);
  text-shadow: -1px -1px 2px white, 1px 1px #333;
  font-size: 18px;
  text-align: center;
}
.ticket_li_txt{
  width: calc(100% - 80px - 70px - 20px);
  color: rgba(255, 255, 255, 0.74);
  text-shadow: -1px -1px 5px white, 1px 1px #333;
  font-size: 14px;
}
.ticket_ul2,
.ticket_ul3,
.ticket_ul4{
    padding-left: 20px;
    width: 95%;
    margin: auto;
    border-bottom: 1.2px solid #666;
}
.ticket_li2_txt{/*第二部分內文*/
    color: rgba(255, 255, 255, 0.74);
    text-shadow: -1px -1px 5px white, 1px 1px #333;
    font-size: 14px;
    margin-bottom: 8px;
}
.ticket_li2_vip{/*會員卡標題*/
    font-size: 18px;
    font-style: unset;
    font-weight: bold;
    color: #ede935;
}
.ticket_li3_txt{/*第三部分內文*/
    color: rgba(255, 255, 255, 0.74);
    text-shadow: -1px -1px 5px white, 1px 1px #333;
    font-size: 14px;
    margin-bottom: 8px;
}
#ticket_li3_txt2{/*第三部分第二行左推*/
    margin-left:300px;
}
.ticket_li4_txt{/*第四部分內文*/
    color: rgba(255, 255, 255, 0.74);
    text-shadow: -1px -1px 5px white, 1px 1px #333;
    font-size: 14px;
    margin-bottom: 8px;
}
/* --------------------menu--------------------------- */
.link_all,.title_left,.title1{
    display: block;
  }
  .title2{
    display: none;
  }
.menu{
    border-radius:0.4rem;
    background-color: rgba(133, 227, 250, 0.13);
    box-shadow: 2px 2px 3px rgba(243, 243, 243, 0.13);
    position: fixed;
    top: 180px;
    z-index: 999;
}
.title_left{
    width: 10px;
    height: 280px;
    border-right:3px solid rgba(5, 255, 68, 0.575); 
    font-family:"微軟正黑體" ;
    font-size: 40pt;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 100px;
    float: left; 
    color: rgba(201, 189, 189, 0.548);
}
.title1,.title2{
    font-family:"微軟正黑體" ;
    font-size: 28pt;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left:3px;
    border-radius:2px;
    border-bottom:2px solid rgba(49, 48, 48, 0.651); 
}
.link_all{
    width: 100px;
    margin-left: 50px;
    margin-top: 28px;
}
.link{
    width: 120px;
    height: 30px;
    font-weight: 900;
    text-align: center;
    display: block;
    margin: 8px 10px 28px -5px;
    position: relative;
}
.acolor{
    font-family: "微軟正黑體" ;
    color:rgb(255, 255, 255);
    font-size: 14pt;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    display: inline-block;
}
.bg{   
    height: 30px;
    background-color: rgb(240, 104, 14);
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: -1;
    border-radius: 2px; 
}
.link:hover .bg{
    animation: bg_ani 300ms;
    animation-fill-mode: forwards;
}
.link:hover a{
    font-size: 18pt;
}
.link:hover .acolor{
    margin-left: 20px;
    margin-top: -5px;
}
@keyframes bg_ani{
    0%{
        top: -4px;
        width: 0px;
    }
    100%{
        top: -4px;
        width: 110px;
    }
}
@keyframes title_ani{
    from{
        width: 90%;
    }
    to{
        width: 0%;
    }
}
/* ------------------------------------------------------------- */
/* ------------------------- 場次專區 -------------------------- */
/* ------------------------------------------------------------- */
  .chin2_topbox{
    width: 700px;
    margin: auto;
    display: flex;
}
.chin2_text{
    width: 300px;
    height: 30px;
    font-family: '微軟正黑體';
    font-size: 16pt;
    font-weight:900; 
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 8px 8px;
}
.chin_2{
    width: 800px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start; 
  }
/* -----------------------電影內容設定-------------------------------------- */
.movieshow{
    width: 600px;
    height: 600px;
    background-color: rgba(65, 65, 240, 0.219);
}
.movieshow_ul{
    display: flex;
    color: yellow;
    font-size: 16px;
    padding: 10px;
    border-radius:5px; 
}
.movieshow_li{
    display: flex;
    color:white;
    font-size: 12px;
    text-align: center;
    margin-left: 15px;
}
.movie{
    width: calc(100% / 4 - 7px);
    height: 242.2px;
    background-color: rgba(32, 128, 128, 0.5);
    border: 3px ridge rgba(71, 71, 71, 0.842);
    border-radius: 4px;
    margin: 0px 7px 5px 0px;
    float: left;  
}
.movie_all1{
    width: 100%;
}
.movie_all2{
    width: 100%;
}
.movie_text{
    width: 100%;
    height: 37.5px;
    background-color: rgba(24, 23, 23, 0.637);
    border-radius: 1.5px;
}
.text{
    width: calc(100% - 24px - 15px);
    float: left;
    text-indent:2px;
    text-align: center;
    color: white;
    margin: auto;
}
.Grading_all{
    width: 24px;
    height: 24px;
    background-size: contain;
    float: left;
    margin: 5px 10px 5px 5px;
}
.movebox_1{
    width: 100%;
    height: 160px;
}
.movie_img{
    float: left;
}
.img_all{
    width: 108px;
    height: 160px;
    background-size: cover;
}
.movie_time{
    font-family: '微軟正黑體';
    font-size: 10pt;
    font-weight: 900;
    color: white;
    line-height: 12pt;
    text-align: center;
    margin: auto;
}

.movebox_2{
    width: 100%;
    height: 40px;
}
.leftdown{
    float: left;
}
.movie_living{
    width: 108px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.movie_int{
    width: 108px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.rightdown{
    float: center;
}

.movie_time2{
    font-family: '微軟正黑體';
    font-size: 9pt;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: auto;
}
.movie_block{
    display: block;
}

.movie_none{
    display: none !important;
}
.movietxtcolor{
    background-color: #f54b17;
}
/*------------------以上總體設定------------------------------------------ */
/*------------------以下個別設定------------------------------------------ */

.movie_int{
    background-image: url(../img/mg001.jpg);
}
/*-- 分級ico-------------------------------------------------*/
.Grading0plus{
    background-image: url(../img/0plus.png);
}
.Grading6plus{
    background-image: url(../img/6plus.png);
}
.Grading12plus{
    background-image: url(../img/12plus.png);
}
.Grading15plus{
    background-image: url(../img/15plus.png);
}
.Grading18plus{
    background-image: url(../img/18plus.png);
}

/*-- 電影海報-------------------------------------------------*/
.img1_1{
    background-image: url(../img/Aladdin.jpg);    
}
.img1_2{
    background-image: url(../img/mayday.jpg);    
}
.img1_3{
    background-image: url(../img/Pikachu.jpg);    
}
.img1_4{
    background-image: url(../img/bgc1.jpg);    
}
.img1_5{
    background-image: url(../img/Dog.jpg);    
}
.img1_6{
    background-image: url(../img/Parabellum.jpg);    
}
.img1_7{
    background-image: url(../img/Hustle.JPG);    
}
.img1_8{
    background-image: url(../img/City\ Hunter.jpg);    
}
.img1_9{
    /* background-image: url(../img/Aladdin.jpg);     */
}
.img1-10{
    /* background-image: url(../img/Aladdin.jpg);     */
}
.img1-11{
    /* background-image: url(../img/Aladdin.jpg);     */
}


/*----- 電影廳 -------------------------------------------------*/
.movie_living1_1{
    background-image: url(../img/mr01.jpg);
}
.movie_living1_2{
    background-image: url(../img/mr02.jpg);
}
.movie_living1_3{
    background-image: url(../img/mr03.jpg);
}
.movie_living1_5{
    background-image: url(../img/mr05.jpg);
}
.movie_living1_6{
    background-image: url(../img/mr06.jpg);
}
.movie_living1_7{
    background-image: url(../img/mr07.jpg);
}
.movie_living1_8{
    background-image: url(../img/mr08.jpg);
}
/************一 一 一 一***************/
#movie_test1-1{
    font-size:9pt;    
}
/************二 二 二 二***************/
#movie_test2{
    font-size: 9pt;
}

/************三 三 三 三***************/

#movie_test3{
    font-size: 8pt;
}



/*************四 四 四 四**************/
#movie_test4{
    font-size: 9pt;    
}

/*************五 五 五 五**************/
#movie_test5{
    font-size: 9pt;    
}


/************六 六 六 六***************/
#movie_test6{
    font-size: 9pt;
}


/************七 七 七 七***************/
#movie_test7{
    font-size: 9pt;    
}

/************八 八 八 八***************/
#movie_test8{
    font-size: 9pt;    
}


/************九 九 九 九**************/
#movie_test9{

    font-size: 9pt;
}


/************十 十 十 十**************/
#movie_test10{
    font-size: 9pt;    
}

/************拾一 拾一**************/
#movie_test11{
    font-size: 9pt;    
}


/* ------------------------------------------------------------- */
/* ------------------------- 活動專區 -------------------------- */
/* ------------------------------------------------------------- */
.chin_3{
    width: 800px;
    height: 1160px;
    margin: auto;
    clear: both;
    position: relative;
}
.chin3_txt{
    width: 30px;
    font-family:"微軟正黑體" ;
    font-size: 35pt;
    margin-right: 50px;
    color: rgba(255, 255, 255, 0.74);
    text-shadow: -2px -2px 10px white, 1px 1px #333;
    position: absolute;
    z-index: 5;
    right: -30px;
    top: 20px;
}
.chin3_bg{
    width: 100%;
    height: 250px;
    float: right;
    margin:auto;
    border-radius: 12px;
    background-color: #8c2c4475;
}
.chin3_ad{
    width: 90%;
    height: 960px;
    background-image: url(../img/visacard-05.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    position: absolute;
    z-index: 3;
    top: 50px;
    right: 60px;
    opacity: 0.8;
}
/* ------------------------------------------------------------- */
/* ------------------------- 電影介紹 -------------------------- */
/* ------------------------------------------------------------- */
.chin_4{
    width: 800px;
    height: 970px;
    margin: auto;

}
.chin4_left{
    width: 200px;
    font-family:"微軟正黑體" ;
    font-size: 35pt;
    margin: auto;
    color: rgba(255, 255, 255, 0.74);
    text-shadow: -2px -2px 10px white, 1px 1px #333;
}
.introduction{
    height: 230px;
    margin-left: 25px;
    box-shadow: 5px 3px 8px 5px black;
    margin-bottom: 30px;
}
.month{
    width: 90px;
    height: 30px;
    font-family: '微軟正黑體';
    font-size: 16pt;
    font-weight:900; 
    display:inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 8px 8px;
}
.swiper-slide{
  margin-bottom: 50px;
}
.int_img{
    text-indent:5px;
    float: left;
    width: 108px;
    height: 140px;
    margin-left: 38px;
    background-size: cover;
}
.int_txt{
    width: calc(100% - 108px - 38px);
    float: right;
    font-size: 14px;
    font-family: '微軟正黑體';
    font-weight: 900;
    text-align: center;
    color:white;
    text-shadow:  1.5px 1.5px 3px rgb(14, 201, 226);
}

/*--------------------以上 電影介紹 總體設定-----------------------------*/

#int_img_a1{
    background-image: url(../img/Hellboy.jpg);
}
/************二 二 二 二***************/

#int_img_a2{
    background-image: url(../img/Pet\ Sematary.JPG);
}
/************三 三 三 三***************/

#int_img_a3{
    background-image: url(../img/Llorona.jpg);
}
/************四 四 四 四***************/

#int_img_a4{
    background-image: url(../img/bgc1.jpg);
}
/************月 月 月 月***************/
/************五 五 五 五***************/
/************月 月 月 月***************/


#int_img_m1{
    background-image: url(../img/Missing\ Link.jpg);
}
/************二 二 二 二***************/

#int_img_m2{
    background-image: url(../img/Hustle.JPG);
}
/************三 三 三 三***************/

#int_img_m3{
    background-image: url(../img/Pikachu.jpg);
}
/************四 四 四 四***************/

#int_img_m4{
    background-image: url(../img/Parabellum.jpg);
}
/************五 五 五 五***************/

#int_img_m5{
    background-image: url(../img/Dog.jpg);
}
/************六 六 六 六***************/

#int_img_m6{
    background-image: url(../img/Bad\ Boys\ Symphony.jpg);
}
/************七 七 七 七***************/

#int_img_m7{
    background-image: url(../img/UglyDolls.jpg);
}
/************八 八 八 八***************/

#int_img_m8{
    background-image: url(../img/Aladdin.jpg);
}
/************九 九 九 九***************/

#int_img_m9{
    background-image: url(../img/City\ Hunter.jpg);
}
/************十 十 十 十***************/

#int_img_m10{
    background-image: url(../img/Godzilla2.jpg);
}
/************月 月 月 月***************/
/************六 六 六 六***************/
/************月 月 月 月***************/

#int_img_j1{
    background-image: url(../img/Dark\ Phoenix.jpg);
}
/************二 二 二 二***************/

#int_img_j2{
    background-image: url(../img/Pets\ 2.JPG);
}
/************三 三 三 三***************/

#int_img_j3{
    background-image: url(../img/International.jpg);
}
/************四 四 四 四***************/

#int_img_j4{
    background-image: url(../img/Rocketman.JPG);
}
/************五 五 五 五***************/
#int_img_j5{
    background-image: url(../img/Dog.jpg);
}
/************六 六 六 六***************/

#int_img_j6{
    background-image: url(../img/Anna.jpg);
}
/************七 七 七 七***************/

#int_img_j7{
    background-image: url(../img/Yesterday.jpg);
}
/************八 八 八 八***************/

#int_img_j8{
    background-image: url(../img/Annabelle.jpg);
}
/* ------------------------------------------------------------- */
/* ---------------chin_5---------- 關於親親 -------------------------- */
/* ------------------------------------------------------------- */

.chin_5{
    width: 100%;
    height: 700px;
    margin: auto;
    background-color: rgba(230, 230, 230, 0.199);  
}
.chin5_box1{
    width: 800px;
    height: 100%;
    margin: auto;
    position: relative;
}
.chin5_right{
    width: 30px;
    font-family:"微軟正黑體" ;
    font-size: 35pt;
    font-weight: 900;
    position: absolute;
    right: 100px;
    color: rgba(255, 255, 255, 0.74);
    text-shadow: -2px -2px 10px white, 1px 1px #333;
    z-index: 888;
}


.chin5_txtbox1{
    width: 600px;
    height: 302px;
    border-radius:5px; 
    background-color: rgb(255, 29, 37,0.58);
} 
.chin5_txt{
    font-family:"微軟正黑體" ;
    font-size: 18pt;
    text-align: left;
    text-indent:80px;
    color: rgb(199, 199, 199);
    text-shadow:2px 2px 1px #333;
    line-height: 33px;
}
.chin5_txtbox{
    width: 580px;
    height: 370px;
    border-radius:5px; 
    background-color: rgba(153, 153, 153, 0.822);
    position: absolute;
    right: 130px;
    top: 250px;    
}
.chin5_title{
    width: 80px;
    background-color: rgba(238, 84, 84, 0.568);
    border-radius:5px; 
    font-family:"微軟正黑體" ;
    font-size: 18pt;
    color: rgb(51, 51, 51);
    text-shadow:1px 1px rgb(95, 95, 95);
    margin-bottom: 5px;
}
.chin5_text{
    border-top: 1px solid rgba(80, 77, 77, 0.815); 
    font-family:"微軟正黑體" ;
    font-size: 12pt;
    text-align: left;
    color: rgb(243, 240, 240);
    text-shadow:2px 2px 2px #333;
    line-height: 23px;
}
/* ------------------------------------------------------------- */
/* ------------------------- 交通指南 -------------------------- */
/* ------------------------------------------------------------- */
.chin_6{
    width: 800px;
    height:1800px;
    margin: auto;
    clear: both;
    position: relative;
}
.chin6_left{
    font-weight: 900;
    font-family:"微軟正黑體" ;
    text-align: center;
    font-size: 40pt;
    margin: 0;  
    margin-left:-10px;    
    color: rgba(255, 255, 255, 0.74);
    text-shadow: -2px -2px 10px white, 1px 1px #333;
}
.googlemap {
    width: 350px;
    height: 370px;
    background-color: rgba(230, 136, 136, 0.781);
    position: absolute;
    left: 40px;
    top: 105px;
    border-radius:3px; 
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}
.googlemap_txt,.bus{
    width: 200px;
    height: 30px;
    font-family: '微軟正黑體';
    font-size: 16pt;
    font-weight:900; 
    display:inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 8px 0px 8px 8px;
}
.googlemap_link{
    padding: 10px 0px 0px 10px;
}
.chin6_bus{
    width: 350px;
    height: 300px;
    background-color:  rgba(230, 136, 136, 0.788);
    position: absolute;
    right: 180px;
    top: 480px;
    border-radius:3px; 
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}
.chin6_bus_img{
    padding: 5px 0px 0px 5px;
    background-size:contain;
}